@charset "UTF-08";

body {
    background-color: #094162;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}

div {
    text-align: center;
    padding: 8px;
}



footer {
    color: white;
    text-align: center;
    font-style: italic;
}